@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@300&display=swap');
body {
    background-color: rgb(211, 190, 151);
}
.contenedor-imagenes{
    display: grid;
}
.box {
    margin-bottom: 35px;
    height: 180px;
    width: auto;
    padding: 3px;
    border: 2px solid #33260E;
    display: table;
    border-radius: 0.5em;
}

.box .title {
    font-weight: 700;
    text-align: center;
    font-family: 'Playfair Display';
    margin: 0;
}

.box li,
.box ul,
.box ul li {
    padding: 0 5px;
    font-family: 'Playfair Display';
    list-style: outside none none !important;
}


/*grid para que las imagenes tengan las mismas formas*/

body {
    background-color: rgb(211, 190, 151);
}

.nombre h1 {
    text-align: center;
    font-family: 'Dancing Script', sans-serif;
    font-size: 60px;
    background-color: white;
    color: #33260E;
}

.contenedor-imagen {
    display: grid;
}


/*grid para que las imagenes tengan las mismas formas*/

.contenedor-imagenes {
    display: grid;
    grid-template-columns: 230px 230px 230px 230px 230px;
    justify-content: center;
}

.imagen1 {
    display: grid;
    width: 220px;
    height: 280px;
    margin-left: 4px;
}

.imagen2 {
    display: grid;
    width: 220px;
    height: 280px;
    margin-left: 4px;
}

.imagen3 {
    display: grid;
    width: 220px;
    height: 280px;
    margin-left: 4px;
}

.imagen4 {
    display: grid;
    width: 220px;
    height: 280px;
    margin-left: 4px;
}

.imagen5 {
    display: grid;
    width: 220px;
    height: 280px;
    margin-left: 7px;
}

.contenido p {
    font-family: 'Noto Serif', 'Times New Roman';
}

.contenido {
    background-color: rgb(207, 151, 106);
    flex-direction: column;
    opacity: 0;
    transition: 0.6s;
    position: absolute;
    width: 200px;
    height: 280px;
    margin-left: 4px;
    text-align: center;
}

.contenido:hover {
    opacity: 0.8;
}

.titulo {
    display: grid;
    font-family: 'Dancing Script', sans-serif;
    font-size: 35px;
    text-align: center;
    font-weight: bold;
    color: #33260E;
}

h3 {
    color: #3B301C;
}

.minicont {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.sub {
    display: grid;
    grid-template-rows: 1fr 2fr;
    font-family: 'Playfair Display', sans-serif;
    font-size: 19px;
}

.texto {
    display: grid;
    font-family: 'Noto Serif', sans-serif;
    font-size: 15px;
}

.link {
    display: grid;
    position: relative;
    justify-content: right;
    right: 10px;
}

.click {
    display: grid;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background-color: #6E614B;
    font-size: 20px;
    font-weight: bold;
    opacity: 90%;
}

.foto {
    border-radius: 10%;
}

.foto:hover {
    height: 185px;
    width: 300px;
    z-index: 2;
}

.inicio {
    display: flex;
    justify-content: center;
    gap: 100px;
}

a {
    color: beige;
    text-decoration: none;
}

.nuestraHistoria {
    font-family: 'Dancing Script', sans-serif;
    font-size: 25px;
    text-align: center;
    color: #3B301C;
}

.textonosotras {
    font-family: 'Dancing Script', sans-serif;
    font-size: 20px;
    text-align: center;
    color: #3B301C;
}

.blabla {
    text-align: center;
    font-family: 'Noto Serif', sans-serif;
    font-size: 15px;
}

.Link {
    padding: 10px 20px;
    background-color: rgb(145, 84, 49);
    border-radius: 15px;
}

.Link:hover {
    background-color: rgb(120, 69, 39);
    border-radius: 15px;
    transform: scale(1.1);
}