@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@300&display=swap');
body {
    background-color: rgb(211, 190, 151);
}

.nombre h1 {
    text-align: center;
    font-family: 'Dancing Script', sans-serif;
    font-size: 50px;
    background-color: white;
    color: rgb(145, 84, 49);
}


/*grid para que las imagenes tengan las mismas formas*/

.contenedor-imagenes {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    width: 1000px;
    height: 300px;
    margin-left: 10%;
}

.imagen1 {
    width: 220px;
    height: 280px;
    margin-left: 4px;
}

.imagen2 {
    width: 220px;
    height: 280px;
    margin-left: 4px;
}

.imagen3 {
    width: 220px;
    height: 280px;
    margin-left: 4px;
}

.imagen4 {
    width: 220px;
    height: 280px;
    margin-left: 4px;
}

.imagen5 {
    width: 220px;
    height: 280px;
    margin-left: 4px;
}

.contenedor-imagen {
    display: flex;
}

.contenido {
    background-color: rgb(207, 167, 106);
    flex-direction: column;
    opacity: 0;
    transition: 0.6s;
    position: absolute;
    width: 200px;
    height: 280px;
    margin-left: 4px;
    text-align: center;
}

.contenido:hover {
    opacity: 0.8;
}

.titulo {
    display: grid;
    font-family: 'Playfair Display', sans-serif;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    color: rgb(145, 84, 49);
}

.sub {
    display: grid;
    font-family: 'Playfair Display', sans-serif;
    font-size: 19px;
    color: rgb(rgb(236, 100, 15));
}

.texto {
    display: grid;
    font-family: 'Noto Serif', sans-serif;
    font-size: 15px;
}

.link {
    display: grid;
    position: relative;
    justify-content: right;
    right: 10px;
}

.inicio {
    display: flex;
    justify-content: center;
    gap: 100px;
}

a {
    color: beige;
    text-decoration: none;
}

.nuestraHistoria {
    font-family: 'Dancing Script', sans-serif;
    text-align: center;
    margin-top: 10%;
}

.textonosotras {
    font-family: 'Dancing Script', sans-serif;
    text-align: center;
}

.teCuento {
    text-align: center;
}

.Link{
    padding: 10px 20px;
    background-color: rgb(145, 84, 49);
    border-radius: 15px;
}
.Link:hover{
    background-color: rgb(120, 69, 39);
    border-radius: 15px;
    transform: scale(1.1);
}

.nosotras {
    text-align: center;
}

.LwrLink{
    padding: 10px 20px;
    background-color: rgb(145, 84, 49);
    border-radius: 15px;
    width: 150px;
}
.LwrLink:hover{
    background-color: rgb(163, 102, 67);
    border-radius: 15px;
    /*transform: scale(1.1);*/
}
