@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@300&display=swap');
* {
    background-color: rgb(211, 190, 151);
}

h1 {
    text-align: center;
    font-family: 'Dancing Script', sans-serif;
    font-size: 50px;
    background-color: white;
    color: rgb(145, 84, 49);
}


/*grid para que las imagenes tengan las mismas formas*/

.contenedor {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.imagen {
    width: 200px;
    height: 270px;
}

.titulo {
    display: grid;
    font-family: 'Playfair Display', sans-serif;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    color: rgb(145, 84, 49);
}

.sub {
    display: grid;
    font-family: 'Playfair Display', sans-serif;
    font-size: 19px;
    color: rgb(rgb(236, 100, 15));
}

.texto {
    display: grid;
    font-family: 'Noto Serif', sans-serif;
    font-size: 15px;
}

.link {
    display: grid;
    position: relative;
    justify-content: right;
    right: 10px;
}

.inicio {
    display: flex;
    justify-content: center;
}

a {
    color: beige;
    text-decoration: none;
}

.nuestraHistoria {
    font-family: 'Dancing Script', sans-serif;
    text-align: center;
    margin-top: 10%;
}

.textonosotras {
    font-family: 'Dancing Script', sans-serif;
    text-align: center;
}

.teCuento {
    text-align: center;
}

.Link1 {
    margin-right: 200px;
}

.Link3 {
    margin-left: 200px;
}

.nosotras {
    text-align: center;
}